A few meets are from the previous calendar year. Top 12's WAG season begins in November of the previous year, and some late-year domestic meets classify athletes by their ages for the next season.
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all"  type="button" role="tab" aria-controls="all" aria-selected="true"><strong>All Meets</strong></button>
        <button class="nav-link" id="mag-tab" data-bs-toggle="tab" data-bs-target="#mag" type="button" role="tab" aria-controls="mag" aria-selected="false"><strong>MAG</strong></button>
        <button class="nav-link" id="wag-tab" data-bs-toggle="tab" data-bs-target="#wag" type="button" role="tab" aria-controls="wag" aria-selected="false"><strong>WAG</strong></button>
        <button class="nav-link" id="rg-tab" data-bs-toggle="tab" data-bs-target="#rg" type="button" role="tab" aria-controls="rg" aria-selected="false"><strong>RG</strong></button>
        <button class="nav-link" id="admin-tab" data-bs-toggle="tab" data-bs-target="#admin" type="button" role="tab" aria-controls="admin" aria-selected="false"><strong>Admin</strong></button>
        </div>
    </nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all">
<table id="#myTable" class="stripe" data-order='[[ 2, "asc" ]]' data-paging="false">
    <thead>
        <tr>
            <th>Event</th>
            <th>Location</th>
            <th>Date</th>
            <th>Format</th>
            <th>Disciplines</th>
            <th><small>Organizer</small></th>
            <th><small>Event Type</small></th>
            <th><small>FIG Group</small></th>
        </tr>
    </thead>
    <tbody>
                {{ with .Page.Resources.Get "meets.json" }}
                    {{ $data := .Content | transform.Unmarshal }}
                    {{ range $data }}
                    {{ if or .MAG .WAG .RG }}
                        <tr>
                        <td><strong>{{ .Event }}</strong></td>
                <td>{{ .Location }}</td>
                <td>{{ .Date }}</td>
                <td>{{ .Format }}</td>
                <td>
                    {{ with .MAG }}<p>{{ . }}</p>{{ end }}
                    {{ with .WAG }}<p>{{ . }}</p>{{ end }}
                    {{ with .RG }}<p>{{ . }}</p>{{ end }}
                </td>
                <td><small>{{ .Organizer }}</small></td>
                        <td><small>{{ .Type }}</small></td>
                        <td><small>{{ .FIGGroup }}</small></td>
            </tr>
        {{ end }}
        {{ end }}
        {{ end }}
    </tbody>
</table>
        </div>
    <div class="tab-pane fade" id="mag" role="tabpanel" aria-labelledby="mag">
<table id="#myTable" class="stripe" data-order='[[ 2, "asc" ]]' data-paging="false">
    <thead>
        <tr>
            <th>Event</th>
            <th>Location</th>
            <th>Date</th>
            <th>Format</th>
            <th>Participants</th>
            <th><small>Organizer</small></th>
            <th><small>Event Type</small></th>
            <th><small>FIG Group</small></th>
        </tr>
    </thead>
    <tbody>
                {{ with .Page.Resources.Get "meets.json" }}
                    {{ $data := .Content | transform.Unmarshal }}
                    {{ range $data }}
                    {{ if .MAG }}
                        <tr>
                        <td><strong>{{ .Event }}</strong></td>
                <td>{{ .Location }}</td>
                <td>{{ .Date }}</td>
                <td>{{ .Format }}</td>
                <td>
                    {{ with .MAG }}<p>{{ . }}</p>{{ end }}
                    {{ with .WAG }}<p>{{ . }}</p>{{ end }}
                    {{ with .RG }}<p>{{ . }}</p>{{ end }}
                 </td>
                <td><small>{{ .Organizer }}</small></td>
                        <td><small>{{ .Type }}</small></td>
                        <td><small>{{ .FIGGroup }}</small></td>
            </tr>
        {{ end }}
        {{ end }}
        {{ end }}
    </tbody>
</table>
  </div>
      <div class="tab-pane fade" id="wag" role="tabpanel" aria-labelledby="wag">
<table id="#myTable" class="stripe" data-order='[[ 2, "asc" ]]' data-paging="false">
    <thead>
        <tr>
            <th>Event</th>
            <th>Location</th>
            <th>Date</th>
            <th>Format</th>
            <th>Participants</th>
            <th><small>Organizer</small></th>
            <th><small>Event Type</small></th>
            <th><small>FIG Group</small></th>
        </tr>
    </thead>
    <tbody>
                {{ with .Page.Resources.Get "meets.json" }}
                    {{ $data := .Content | transform.Unmarshal }}
                    {{ range $data }}
                    {{ if .WAG }}
                        <tr>
                        <td><strong>{{ .Event }}</strong></td>
                <td>{{ .Location }}</td>
                <td>{{ .Date }}</td>
                <td>{{ .Format }}</td>
                <td>
                    {{ with .MAG }}<p>{{ . }}</p>{{ end }}
                    {{ with .WAG }}<p>{{ . }}</p>{{ end }}
                    {{ with .RG }}<p>{{ . }}</p>{{ end }}
                </td>
                <td><small>{{ .Organizer }}</small></td>
                        <td><small>{{ .Type }}</small></td>
                        <td><small>{{ .FIGGroup }}</small></td>
            </tr>
        {{ end }}
        {{ end }}
        {{ end }}
    </tbody>
</table>
  </div>
      <div class="tab-pane fade" id="rg" role="tabpanel" aria-labelledby="rg">
<table id="#myTable" class="stripe" data-order='[[ 2, "asc" ]]' data-paging="false">
    <thead>
        <tr>
            <th>Event</th>
            <th>Location</th>
            <th>Date</th>
            <th>Format</th>
            <th>Participants</th>
            <th><small>Organizer</small></th>
            <th><small>Event Type</small></th>
            <th><small>FIG Group</small></th>
        </tr>
    </thead>
    <tbody>
                {{ with .Page.Resources.Get "meets.json" }}
                    {{ $data := .Content | transform.Unmarshal }}
                    {{ range $data }}
                    {{ if .RG }}
                        <tr>
                        <td><strong>{{ .Event }}</strong></td>
                <td>{{ .Location }}</td>
                <td>{{ .Date }}</td>
                <td>{{ .Format }}</td>
                <td>
                    {{ with .MAG }}<p>{{ . }}</p>{{ end }}
                    {{ with .WAG }}<p>{{ . }}</p>{{ end }}
                    {{ with .RG }}<p>{{ . }}</p>{{ end }}
                </td>
                <td><small>{{ .Organizer }}</small></td>
                        <td><small>{{ .Type }}</small></td>
                        <td><small>{{ .FIGGroup }}</small></td>
            </tr>
        {{ end }}
        {{ end }}
        {{ end }}
    </tbody>
</table>
  </div>
  <div class="tab-pane fade" id="admin" role="tabpanel" aria-labelledby="admin">
    <p>The following chart lists meetings of the FIG Executive Committee and the disciplines' technical committees. Among other things, the executive committee approves all nationality changes for athletes and judges. Such changes are sometimes approved via phone conferences, but they are generally not announced until after the next in-person meeting.</p>
<table id="#myTable" class="stripe" data-order='[[ 1, "asc" ]]' data-paging="false">
    <thead>
        <tr>
            <th>Event</th>
            <th>Date</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
                {{ with .Page.Resources.Get "meets.json" }}
                    {{ $data := .Content | transform.Unmarshal }}
                    {{ range $data }}
                    {{ if eq .Type "FIG Administrative" }}
                        <tr>
                            <td>{{ .Event }}</td>
                        <td>{{ .Date }}</td>
                <td>{{ .Location }}</td>
            </tr>
        {{ end }}
        {{ end }}
        {{ end }}
    </tbody>
</table>
  </div>
</div>