<table id="myTable" class="stripe" data-order='[[ 2, "desc" ]]' data-page-length='100'>
    <thead>
        <tr>
            <th>Meet Rank</th>
            <th>Country</th>
            <th>Total</th>
            <th>Apparatus 1</th>
            <th>Apparatus 2</th>
           <th>Event</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {{ with .Page.Resources.Get "scores.json" }}
            {{ $data := .Content | transform.Unmarshal }}
            {{ range $data }}
            <tr>
                <td>{{ .Rank }}</td>
                <td><strong>{{ .Name }}</strong></td>
                <td><strong>{{ .Total }}</strong></td>
                <td>{{ .Apparatus1 }}</td>
                <td>{{ .Apparatus2 }}</td>
                <td>{{ .Event }}</td>
                <td>{{ .Date }}</td>
            </tr>
        {{ end }}
        {{ end }}
    </tbody>
</table>