<table id="myTable" class="display stripe" data-order='[[ 3, "desc" ]]' data-page-length='100'>
    <thead>
        <tr>
            <th>Meet Rank</th>
            <th>Country</th>
            <th>Athlete</th>
            <th>Total</th>
            <th>FX</th>
            <th>PH</th>
            <th>SR</th>
            <th>VT</th>
            <th>PB</th>
            <th>HB</th>
            <th>ND</th>
            <th>Event</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {{ with .Page.Resources.Get "scores.json" }}
            {{ $data := .Content | transform.Unmarshal }}
            {{ range $data }}
            <tr>
                <td>{{ .Rank }}</td>
                <td>{{ .Fed }}</td>
                <td><strong>{{ .Name }}</strong></td>
                <td><strong>{{ .Total }}</strong></td>
                <td>{{ .FX }}</td>
                <td>{{ .PH }}</td>
                <td>{{ .SR }}</td>
                <td>{{ .VT }}</td>
                <td>{{ .PB }}</td>
                <td>{{ .HB }}</td>
                <td><i>{{ .ND }}</i></td>
                <td>{{ .Event }}</td>
                <td>{{ .Date }}</td>
            </tr>
        {{ end }}
        {{ end }}
    </tbody>
</table>