<table id="myTable" class="stripe" data-order='[[ 5, "desc" ],[3, "desc"],[2, "desc"]]' data-page-length='25'>
    <thead>
        <tr>
            <th>Country</th>
            <th>Athlete</th>
            <th>D</th>
            <th>E</th>
            <th>ND</th>
            <th>Score</th>
            <th>Event</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {{ $dataFile := .Get "file" }}
        {{ with index .Site.Data $dataFile }}
        {{ range . }}
            <tr>
                <td>{{ .Fed }}</td>
                <td><strong>{{ .Name }}</strong></td>
                <td>{{ .D }}</td>
                <td>{{ .E }}</td>
                <td><i>{{ .ND }}</i></td>
                <td><strong>{{ .Score }}</strong></td>
                <td>{{ .Event }}</td>
                <td>{{ .Date }}</td>
            </tr>
        {{ end }}
        {{ end }}
    </tbody>
</table>