<table id="myTable" class="stripe" data-order='[[ 6, "desc" ],[4, "desc"],[3, "desc"]]' data-page-length='100'>
    <thead>
        <tr>
            <th>Meet Rank</th>
            <th>Country</th>
            <th>Athlete</th>
            <th>D</th>
            <th>E</th>
            <th>ND</th>
            <th>Score</th>
            <th>Event</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {{ with .Page.Resources.Get "scores.json" }}
            {{ $data := .Content | transform.Unmarshal }}
            {{ range $data }}
            <tr>
                <td>{{ .Rank }}</td>
                <td>{{ .Fed }}</td>
                <td><strong>{{ .Name }}</strong></td>
                <td>{{ .D }}</td>
                <td>{{ .E }}</td>
                <td><i>{{ .ND }}</i></td>
                <td><strong>{{ .Score }}</strong></td>
                <td>{{ .Event }}</td>
                <td>{{ .Date }}</td>
            </tr>
        {{ end }}
        {{ end }}
    </tbody>
</table>