    <div class="container mt-4">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="leaderboard-tab" data-bs-toggle="tab" data-bs-target="#leaderboard"  type="button" role="tab" aria-controls="all" aria-selected="true"><strong>Leaderboard</strong></button>
        <button class="nav-link" id="all-tab" data-bs-toggle="tab" data-bs-target="#all" type="button" role="tab" aria-controls="all" aria-selected="false"><strong>All Meets</strong></button>
        <button class="nav-link" id="fig-tab" data-bs-toggle="tab" data-bs-target="#fig" type="button" role="tab" aria-controls="fig" aria-selected="false"><strong>FIG-Sanctioned Meets</strong></button>
    </div>
      </nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="leaderboard" role="tabpanel" aria-labelledby="leaderboard">
<p><i>This tab displays each athlete's highest score. See the following tabs for complete records of the year's scores.</i></p>
        <table class="lead-table stripe" data-ordering="false" data-paging="true" data-searching="false">
            <thead>
                <tr>
                    <th></th>
                    <th>Group</th>
                    <th>Total</th>
                    <th>Event</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {{ $counter := 0 }}
                {{ with .Page.Resources.Get "scores.json" }}
                    {{ $data := .Content | transform.Unmarshal }}
                    {{ $displayedNames := slice }}
                    {{ range $data }}
                        {{ if not (in $displayedNames .Name) }}
                        {{ $counter = add $counter 1 }}
                    <tr>
                        <td>{{ $counter }}</td>
                        <td><strong>{{ .Name }}</strong> (<small>{{ .Fed }})</small></td>
                        <td><strong>{{ .Total }}</strong></td>
                        <td><small>{{ .Event }}</small></td>
                        <td><small>{{ .Date }}</small></td>
                    </tr>
                            {{ $displayedNames = $displayedNames | append .Name }}
                {{ end }}
                {{ end }}
                {{ end }}
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="all" role="tabpanel" aria-labelledby="all-tab">
<table id="myTable" class="stripe" data-order='[[ 2, "desc" ]]' data-page-length='100'>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Group</th>
            <th>Total</th>
            <th>5 App D</th>
            <th>Mixed App D</th>
           <th>Event</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
                {{ $counter := 0 }}
                {{ with .Page.Resources.Get "scores.json" }}
                    {{ $data := .Content | transform.Unmarshal }}
                    {{ range $data }}
                    {{ $counter = add $counter 1 }}
                    <tr>
                        <td>{{ $counter }}</td>
                <td><strong>{{ .Name }}</strong> (<small>{{ .Fed }})</small></td>
                <td><strong>{{ .Total }}</strong></td>
                <td>{{ .SameD }}</td>
                <td>{{ .MixedD }}</td>
                        <td><small>{{ .Event }}</small></td>
                        <td><small>{{ .Date }}</small></td>
            </tr>
        {{ end }}
        {{ end }}
    </tbody>
</table>
        </div>
            <div class="tab-pane fade" id="fig" role="tabpanel" aria-labelledby="fig-tab">
<table id="myTable" class="stripe" data-order='[[ 2, "desc" ]]' data-page-length='100'>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Group</th>
            <th>Total</th>
            <th>5 App D</th>
            <th>Mixed App D</th>
           <th>Event</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
                {{ $counter := 0 }}
                {{ with .Page.Resources.Get "scores.json" }}
                    {{ $data := .Content | transform.Unmarshal }}
                    {{ range $data }}
                    {{ if lt .lc 5 }}
                    {{ $counter = add $counter 1 }}
                    <tr>
                        <td>{{ $counter }}</td>
                <td><strong>{{ .Name }}</strong> (<small>{{ .Fed }})</small></td>
                <td><strong>{{ .Total }}</strong></td>
                <td>{{ .SameD }}</td>
                <td>{{ .MixedD }}</td>
                        <td><small>{{ .Event }}</small></td>
                        <td><small>{{ .Date }}</small></td>
            </tr>
        {{ end }}
        {{ end }}
        {{ end }}
    </tbody>
</table>
        </div>
    </div>
</div>