<table id="myTable" class="stripe" data-order='[[ 2, "desc" ]]' data-page-length='25'>
    <thead>
        <tr>
            <th>Country</th>
            <th>Athlete</th>
            <th>Total</th>
            <th>VT</th>
            <th>UB</th>
            <th>BB</th>
            <th>FX</th>
            <th>Event</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {{ $dataFile := .Get "file" }}
        {{ with index .Site.Data $dataFile }}
        {{ range . }}
            <tr>
                <td>{{ .Fed }}</td>
                <td><strong>{{ .Name }}</strong></td>
                <td><strong>{{ .Total }}</strong></td>
                <td>{{ .vtD }}</td>
                <td>{{ .ubD }}</td>
                <td>{{ .bbD }}</td>
                <td>{{ .fxD }}</td>
                <td>{{ .Event }}</td>
                <td>{{ .Date }}</td>
            </tr>
        {{ end }}
        {{ end }}
    </tbody>
</table>